* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Rubik:wght@300;600;700&display=swap");

:root {
  --primaryColor: #272d95;
  --secColor: #ba8a21;
  --thrColor: #d9d9d9;
  --tFont: "Montserrat", sans-serif;
  --pFont: "Rubik", sans-serif;
  --wtFont: 600; 
  --wpFont: 300;   
}

/* Rubik 300 600 700
montserrat 600 700
*/


